Source: mintupload-gnome
Section: unknown
Priority: extra
Maintainer: Dennis Schwertel <s@digitalkultur.net>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: mintupload-gnome
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, nautilus-actions, mintupload
Description: Nautilus integration for mintupload
 uses nautilus-actions
